<?xml version="1.0" encoding="utf-8"?>
<config>
  
	<fieldset
		name="general"
		label="COM_FAQBOOK_CONFIG_GENERAL_LABEL"
		description="COM_FAQBOOK_CONFIG_GENERAL_DESC"
	>
		
		<field type="spacer" name="myspacer2" hr="true" />
		
		<field
			name="load_jquery"
			type="radio"
			label="COM_FAQBOOK_CONFIG_LOAD_JQUERY_LABEL"
			description="COM_FAQBOOK_CONFIG_LOAD_JQUERY_DESC"
			default="1"
		>
		  <option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		
		<field type="spacer" name="myspacer6" hr="true" />
		
		<field
			name="send_email"
			type="radio"
			label="COM_FAQBOOK_CONFIG_SEND_EMAIL_LABEL"
			description="COM_FAQBOOK_CONFIG_SEND_EMAIL_DESC"
			default="0"
		>
		  <option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		
		<field
			name="write_email"
			type="text"
			label="COM_FAQBOOK_CONFIG_WRITE_EMAIL_LABEL"
			description="COM_FAQBOOK_CONFIG_WRITE_EMAIL_DESC"
			size="60"
			default=""
		/>
		
	</fieldset>
	
	<fieldset
		name="index"
		label="COM_FAQBOOK_CONFIG_INDEX_LABEL"
		description="COM_FAQBOOK_CONFIG_INDEX_DESC"
	>
	
	  <field type="spacer" name="myspacer9" hr="true" />
		
		<field
			name="show_message"
			type="radio"
			label="COM_FAQBOOK_CONFIG_INDEX_SHOW_MESSAGE_LABEL"
			description="COM_FAQBOOK_CONFIG_INDEX_SHOW_MESSAGE_DESC"
			default="1"
		>
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		
		<field
			name="message_name"
			type="text"
			label="COM_FAQBOOK_CONFIG_INDEX_MESSAGE_NAME_LABEL"
			description="COM_FAQBOOK_CONFIG_INDEX_MESSAGE_NAME_DESC"
			size="60"
			default="Welcome to FAQ Book. How can we help you?"
		/>
		
		<field type="spacer" name="myspacer1" hr="true" />
		
		<field
			name="parent_description"
			type="radio"
			label="COM_FAQBOOK_CONFIG_INDEX_PARENT_DESCRIPTION_LABEL"
			description="COM_FAQBOOK_CONFIG_INDEX_PARENT_DESCRIPTION_DESC"
			default="1"
		>
		  <option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		
		<field
			name="parent_image"
			type="radio"
			label="COM_FAQBOOK_CONFIG_INDEX_PARENT_IMAGE_LABEL"
			description="COM_FAQBOOK_CONFIG_INDEX_PARENT_IMAGE_DESC"
			default="1"
		>
		  <option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		
		<field
			name="parent_image_width"
			type="list"
			label="COM_FAQBOOK_CONFIG_INDEX_PARENT_IMAGE_WIDTH_LABEL"
			description="COM_FAQBOOK_CONFIG_INDEX_PARENT_IMAGE_WIDTH_DESC"
			default="48"
		>
			<option value="16">16</option>
			<option value="24">24</option>
			<option value="32">32</option>
			<option value="40">40</option>
			<option value="48">48</option>
			<option value="56">56</option>
			<option value="64">64</option>
		</field>
		
		<field
			name="subcategories_number"
			type="radio"
			label="COM_FAQBOOK_CONFIG_INDEX_SUBCATEGORIES_NUMBER_LABEL"
			description="COM_FAQBOOK_CONFIG_INDEX_SUBCATEGORIES_NUMBER_DESC"
			default="1"
		>
		  <option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		
	</fieldset>
	
	<fieldset
		name="category"
		label="COM_FAQBOOK_CONFIG_CATEGORY_LABEL"
		description="COM_FAQBOOK_CONFIG_CATEGORY_DESC"
	>
		
		<field type="spacer" name="myspacer11" hr="true" />
		
		<field
			name="subcategories_left_list_scroll"
			type="radio"
			label="COM_FAQBOOK_CONFIG_GENERAL_SUBCATEGORIES_LEFT_LIST_SCROLL_LABEL"
			description="COM_FAQBOOK_CONFIG_GENERAL_SUBCATEGORIES_LEFT_LIST_SCROLL_DESC"
			default="1"
		>
		  <option value="0">Jump to Subcategory</option>
			<option value="1">Smooth Scroll to Subcategory</option>
		</field>
		
		<field type="spacer" name="myspacer3" hr="true" />
		
		<field
			name="subcategories_index"
			type="radio"
			label="COM_FAQBOOK_CONFIG_GENERAL_SUBCATEGORIES_INDEX_LABEL"
			description="COM_FAQBOOK_CONFIG_GENERAL_SUBCATEGORIES_INDEX_DESC"
			default="1"
		>
		  <option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		
		<field
			name="subcategories_left_list"
			type="radio"
			label="COM_FAQBOOK_CONFIG_GENERAL_SUBCATEGORIES_LEFT_LIST_LABEL"
			description="COM_FAQBOOK_CONFIG_GENERAL_SUBCATEGORIES_LEFT_LIST_DESC"
			default="1"
		>
		  <option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		
		<field
			name="flicker_fix"
			type="radio"
			label="COM_FAQBOOK_CONFIG_CATEGORY_FLICKER_FIX_LABEL"
			description="COM_FAQBOOK_CONFIG_CATEGORY_FLICKER_FIX_DESC"
			default="0"
		>
		  <option value="0">No</option>
			<option value="1">Yes</option>
		</field>
	
	</fieldset>
	
	<fieldset
		name="faqs"
		label="COM_FAQBOOK_CONFIG_FAQS_LABEL"
		description="COM_FAQBOOK_CONFIG_FAQS_DESC"
	>
	 
	  <field type="spacer" name="myspacer7" hr="true" />
	  
		<field
			name="faq_slide"
			type="radio"
			label="COM_FAQBOOK_CONFIG_FAQS_SLIDE_LABEL"
			description="COM_FAQBOOK_CONFIG_FAQS_SLIDE_DESC"
			default="1"
		>
		  <option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		
		<field
			name="faq_introtext"
			type="radio"
			label="COM_FAQBOOK_CONFIG_FAQS_INTROTEXT_LABEL"
			description="COM_FAQBOOK_CONFIG_FAQS_INTROTEXT_DESC"
			default="1"
		>
		  <option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		
		<field
			name="faq_introtext_chars"
			type="text"
			label="COM_FAQBOOK_CONFIG_FAQS_INTROTEXT_CHARS_LABEL"
			description="COM_FAQBOOK_CONFIG_FAQS_INTROTEXT_CHARS_DESC"
			size="60"
			default="50"
		/>
		
		<field
			name="animate_faq_background"
			type="radio"
			label="COM_FAQBOOK_CONFIG_FAQS_ANIMATE_BACKGROUND_LABEL"
			description="COM_FAQBOOK_CONFIG_FAQS_ANIMATE_BACKGROUND_DESC"
			default="1"
		>
		  <option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		
		<field type="spacer" name="myspacer4" hr="true" />
		
		<field
			name="faq_voting"
			type="radio"
			label="COM_FAQBOOK_CONFIG_FAQS_VOTING_LABEL"
			description="COM_FAQBOOK_CONFIG_FAQS_VOTING_DESC"
			default="1"
		>
		  <option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		
		<field
			name="guest_voting"
			type="radio"
			label="COM_FAQBOOK_CONFIG_FAQS_GUEST_VOTING_LABEL"
			description="COM_FAQBOOK_CONFIG_FAQS_GUEST_VOTING_DESC"
			default="1"
		>
		  <option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		
		<field type="spacer" name="myspacer5" hr="true" />
	
	  <field
			name="new_faq"
			type="radio"
			label="COM_FAQBOOK_CONFIG_FAQS_NEW_FAQ_LABEL"
			description="COM_FAQBOOK_CONFIG_FAQS_NEW_FAQ_DESC"
			default="1"
		>
		  <option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		
		<field
			name="new_faq_text"
			type="text"
			label="COM_FAQBOOK_CONFIG_FAQS_NEW_FAQ_TEXT_LABEL"
			description="COM_FAQBOOK_CONFIG_FAQS_NEW_FAQ_TEXT_DESC"
			size="60"
			default="Type your question..."
		/>
		
		<field
			name="new_faq_guest"
			type="radio"
			label="COM_FAQBOOK_CONFIG_FAQS_NEW_FAQ_GUEST_LABEL"
			description="COM_FAQBOOK_CONFIG_FAQS_NEW_FAQ_GUEST_DESC"
			default="1"
		>
		  <option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		
		<field
			name="new_faq_guest_msg"
			type="radio"
			label="COM_FAQBOOK_CONFIG_FAQS_NEW_FAQ_GUEST_MSG_LABEL"
			description="COM_FAQBOOK_CONFIG_FAQS_NEW_FAQ_GUEST_MSG_DESC"
			default="1"
		>
		  <option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		
		<field
			name="new_faq_guest_msg_text"
			type="text"
			label="COM_FAQBOOK_CONFIG_FAQS_NEW_FAQ_GUEST_MSG_TEXT_LABEL"
			description="COM_FAQBOOK_CONFIG_FAQS_NEW_FAQ_GUEST_MSG_TEXT_DESC"
			size="60"
			default="Please register to ask a new question."
		/>
		
		<field
			name="specified_cat"
			type="text"
			label="COM_FAQBOOK_CONFIG_NEW_FAQ_CAT_LABEL"
			description="COM_FAQBOOK_CONFIG_NEW_FAQ_CAT_DESC"
			size="60"
			default="1"
		/>
	
	</fieldset>
	
</config>